html {
	position: relative;
	min-height: 100%;
}

body{
	background-image: url("../images/background.png");
	margin-bottom: 60px;
}

header {
	margin: 0 auto;
}

ul {
	margin-top: 21.8px;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	margin: 0;
	width: 220px;
	padding-top: 12.3px;
	padding-bottom: 11.5px;
	/* margin-left: 80px; */
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	line-height: 2;
}

.nav-tabs {
	border: 0px;
}

.container {
	margin: 0 auto;
}

.mainContent {
	width: 100%;
	/* margin-left: 80px; */
} 

.sideContent {
	width: 260px;
	float: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ccc;
}

.footerText {
	position: absolute;
	width: 100%;
	padding: 25px;
	text-align: center;
}

.panel-title {
	font-size: 25px;
}

#profilePic {
	float: left;
	width: 160px;
	height: 220px;
	margin-right: 10px;
	margin-top: 5px;
}

.row {
	margin-left: 5%;
	margin-right: 5%;
}

.icons {
	width: 65px;
	height: 65px;
	display: block;
	float: left;
	margin: 5px;
}

.icons:hover {
	-ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.certificateIcons {
	width: 220px;
	height: 220px;
	display: block;
	/* float: left; */
	margin: 5px;
}

.icons:hover {
	-ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.iconGroup {
	padding-left: 2px;
	height: 80px;
	display: inline-block;
}



/* .col-md-9 {
	padding-right: 30px;
} */

/* .col-md-3 {
	padding-left: 0px;
	padding-right: 0px;
} */

.col-md-12 {
	text-align: center;
	padding: 20px;
}

.portfolioContent {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.projectContainer {
	width: 100%;
	border: 1px solid black;
	margin-bottom: 10px;
	
}

.projects {
	padding: 0px;
	margin: 0px;
}

.projectPics {
	width: 100%;
	height: 220px;
	/* float: left; */
	/* display: inline-block */
}

.projectTitle {
	/* position: absolute; */
	/* float: right; */
	text-align: center;
	/* bottom: 15px; */
	width: 100%;
	/* height: 60px; */
	/* margin: 25px; */
	padding: 10px;
	color: #ffffff;
	background-color: #4aaaa5;
	font-size: 20px;
	;
}

.projectDescription {
	width: 100%;
	/* float: right; */
	padding-left: 5px;
	padding-right: 5px;
}

.portfolioPics {
	width: 260px;
	height: 220px;
	margin: 25px;
	position: relative;
}

#portfolioMainContent {
	padding: 0px;
}

.portfolioHeader {
	padding: 25px 25px 0px 25px;
	margin-bottom: 0px;
}

.projectLink {
	position: relative;
}

.projectName {
	position: absolute;
	text-align: center;
	bottom: 15px;
	width: 260px;
	height: 60px;
	margin: 25px;
	padding: 20px;
	color: #ffffff;
	background-color: #4aaaa5;
	font-size: 20px;
}

input {
	margin-top: 5px;
	width: 100%;
}

#messageField {
	margin-top: 5px;
	height: 200px;
	width: 100%;
}

#submitButton {
	width: 100px;
	height: 40px;
	margin-top: 0px;
	font-size: 16px;
	color: #ffffff;
	background-color: #4aaaa5;
	border: #4aaaa5;
}

@media screen and (max-width: 992) {
	.sideContent {
		float: left;
	}


}

@media screen and (max-width: 1199px) {
		.row {
			margin-left: 0%;
			margin-right: 0%;
		}
}

